name: Ejecutar java

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Ejecutar java
        run: |
          javac -d out src/*.java
          jar cfe Main.jar Main *.class
          java -jar out/app.jar
          